# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Logs / runtime
*.log
project/monitoring/loki-data/

# OS junk
.DS_Store

# Virtual environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# VS Code / Editors
.vscode/
.idea/

# Node (future frontend)
node_modules/

# Environment variables
.env
